doctype html
html(lang="pt-br")
	head
		title Lou's Project
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		//bower:css
		//endinject
		//app:css
		//endinject
		//bower:js
		//endinject
		//app:js
		//endinject
	body
		p Hello my friend! :)