doctype html
html(lang='pt-br')
	head
		title Lou's Project
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		link(rel='stylesheet', href='assets/css/app.min.css')
		//- Vendors
		script(src='scripts/vendor/angular/angular.min.js')
		script(src='scripts/vendor/angular-ui-router/release/angular-ui-router.min.js')
		//- App
		script(src='scripts/app.min.js')
	body
		p Hello my friend! :)